body {
  margin: 40px;
  line-height: 2;
  background-color: rgb(212, 212, 212);
}
input {
  width: 500px;
  height: 60px;
  font-size: 40px;
}
h1{
  font-size: 35px;
  font-family: Copperplate, Papyrus, fantasy;
}
p,
b {
  font-size: 25px;
  font-family: Copperplate, Papyrus, fantasy;
}
li {
  list-style-type: none;
  font-size: 20px;
  font-family: Copperplate, Papyrus, fantasy;
  border: 2px;
}